- content_for(:title) {"My Requests"}
- content_for(:head) {stylesheet_link_tag "reviews", media: "all", "data-turbolinks-track" => true}

%div.section.group
  %div.col.span_1_of_3
    %h2 Open
    %ul
    - @presenter.open_requests.each do |review_request|
      %li
        = link_to request_link_name(review_request), review_request
  %div.col.span_1_of_3
    %h2 In Progress
    %ul
    - @presenter.taken_requests.each do |review_request|
      %li
        = link_to request_link_name(review_request), review_request
  %div.col.span_1_of_3
    %h2 Completed
    %ul
    - @presenter.completed_requests.each do |review_request|
      %li
        = link_to request_link_name(review_request), review_request
