/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, defn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #DDD;
  font: 100% Verdana, Arial;
  color: #333;
  text-align: left;
}

header {
  height: 7.4em;
  background: #444444;
  border-bottom: 2px solid #A3D41F;
  color: #FFFFFF;
  padding: 1em;
}

#logo a {
  font: 7em "Baskerville Old Face", "Lucida Handwriting";
  color: #A3D41F;
  float: left;
  display: inline-block;
}

nav {
  display: inline-block;
  float: left;
  margin-top: 5.3em;
  margin-left: 0.3em;

}

nav a {
  color: #FFFFFF;
  font-size: 1.1em;
  text-transform: uppercase;
  line-height: 1em;
  border-bottom: .16em solid #A3D41F;
  margin-right: 1em;
}

nav a:hover, nav a:active {
  color: #A3D41F;
  border-bottom: .16em solid #A3D41F;
}

.greeting {
  display: inline-block;
  float: right;
  font-size: 1.1em;
}

.greeting a {
  color: #ADADAD;
}


hr {
  color: #FF0E4A;
  height: 1px;
}

h1, h2, h3, h4 {
  font-family: Times;
  text-transform: uppercase;
}

h1 {
  font-size: 2.3em;
  color: #333;
  width: 100%;
  border-bottom: .071em solid #FF0E4A;
}

h2 {
  font-size: 2em;
  color: #444;
}

h3 {
  font-size: 1.6em;
  color: #555;
}

fieldset label {
  display: block;
  padding: .2em;
}

a {
  color: #FF0E4A;
}

#main-content {
  padding: 1em;
}
