= flash[:notice]
- content_for(:title) {"Reviews"}
= content_for(:head) {stylesheet_link_tag "reviews", media: "all", "data-turbolinks-track" => true}
.reviews
  %ul
    %li.reviews_box
      %h2 My Requests
      %ul
        - user.review_requests.each do |request|
          %li.pending
            = link_to request.title, request
    %li.reviews_box
      %h2 Reviewing Requests
      %ul
        - user.review_replies.each do |review|
          %li.pending
            = review.review_request.title
