= flash[:notice]
= content_for(:title) {"Reviews"}

- if @presenter.request_in_queue
  .queue
    %h2 queue
    = link_to @presenter.request_in_queue.title, @presenter.request_in_queue

.box
  %h3 Submitted Request
  %ul
    - @presenter.requests.each do |request|
      %li
        = link_to request.title, request

