= flash[:notice]
= content_for(:title) {"Reviews"}

.queue
  %h2 queue
  = link_to @request_in_queue.title, @request_in_queue

.box
  %h3 Submitted Request
  %ul
    - @requests.each do |request|
      %li
        = link_to request.title, request

