=render "review_requests/show"
- if @review_reply
  %hr
  =render "review_replies/show"
  -unless @review.archive
    %br
    %p= button_to "Archive", archive_review_request_path(@review.request), :class => "button"
